<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lufa-Lufa</ion-card-title>
      <ion-card-subtitle
        >Onde a lealdade, trabalho árduo e justiça prevalecem</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <p>
        Os membros da Lufa-Lufa são conhecidos por sua lealdade, trabalho árduo,
        honestidade, paciência e justiça. Eles são dedicados aos seus amigos e
        sempre prontos para ajudar os outros, sem esperar nada em troca.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Salão Comunal e Representação</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        O salão comunal da Lufa-Lufa fica nas cozinhas de Hogwarts, adornado com
        cores amarelo e preto. Seu símbolo é um texugo e seu mascote é um furão.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Membros Notáveis</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Cedric Diggory</li>
        <li>Nymhadora Tonks</li>
        <li>Nymphadora Tonks</li>
        <li>Luna Lovegood</li>
        <li>Ernie Macmillan</li>
        <li>Justus Finch-Fletchley</li>
        <li>Pomona Sprout</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-button routerLink="/">Voltar</ion-button>
</ion-content>
