<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Grifinória</ion-card-title>
      <ion-card-subtitle>Onde residem os bravos de coração</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Os membros da Grifinória são conhecidos por sua bravura, coragem,
        cavalarismo e senso de justiça. Eles são leais aos seus amigos e sempre
        defendem o que acreditam ser certo, mesmo diante do perigo.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Salão Comunal e Representação</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        O salão comunal da Grifinória fica na Torre da Grifinória, adornado com
        cores vermelho e dourado. Seu símbolo é um leão e seu mascote é um
        grifo.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Membros Notáveis</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Harry Potter</li>
        <li>Rony Weasley</li>
        <li>Hermione Granger</li>
        <li>Alvo Dumbledore</li>
        <li>Minerva McGonagall</li>
        <li>Sirius Black</li>
        <li>Neville Longbottom</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-button routerLink="/">Voltar</ion-button>
</ion-content>
