<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sonserina</ion-card-title>
      <ion-card-subtitle
        >Onde a ambição e a astúcia florescem</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <p>
        Os membros da Sonserina são conhecidos por sua ambição, astúcia,
        determinação e liderança. Eles são leais aos seus amigos e perseguem
        seus objetivos com tenacidade e inteligência, buscando sempre o sucesso
        e a excelência.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Salão Comunal e Representação</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        O salão comunal da Sonserina fica nas masmorras do castelo, adornado com
        cores verde e prata. Seu símbolo é uma cobra e seu mascote é uma
        serpente marinha.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Membros Notáveis</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Severo Snape</li>
        <li>Draco Malfoy</li>
        <li>Horácio Slughorn</li>
        <li>Belatriz Lestrange</li>
        <li>Tom Riddle (Lord Voldemort)</li>
        <li>Lucius Malfoy</li>
        <li>Vincent Crabbe</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-button routerLink="/">Voltar</ion-button>
</ion-content>
