<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Seja bem-vindo!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Descubra as características casas de Hogwarts!</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sobre o App</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Este app descreve as características de cada uma das quatro casas:
        Grifinória, Corvinal, Lufa-Lufa ou Sonserina. Aqui você pode conhecer
        melhor cada uma delas!
      </p>
    </ion-card-content>
  </ion-card>

  <ion-img src="assets/img/chapeu.png"></ion-img>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/page-grifinoria']">Grifinória</ion-button>
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/page-corvinal']">Corvinal</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button [routerLink]="['/page-lufa-lufa']">Lufa-Lufa</ion-button>
      </ion-col>
      <ion-col>
        <ion-button [routerLink]="['/page-sonserina']">Sonserina</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
