$cor-corvinal-primaria: #007bff;
$cor-corvinal-secundaria: #cd7f32;

ion-card {
  margin-bottom: 20px;
}

ion-card-header {
  border-bottom: 1px solid lighten($cor-corvinal-primaria, 20%);
}

ion-card-title {
  color: $cor-corvinal-primaria;
}

ion-card-subtitle {
  font-size: smaller;
  color: lighten($cor-corvinal-primaria, 30%);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

ion-button {
  background-color: $cor-corvinal-primaria;
  color: #fff;
  margin-top: 20px;
}
