<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Corvinal</ion-card-title>
      <ion-card-subtitle
        >Onde a sabedoria, inteligência e criatividade
        brilham</ion-card-subtitle
      >
    </ion-card-header>
    <ion-card-content>
      <p>
        Os membros da Corvinal são conhecidos por sua inteligência, sabedoria,
        criatividade, aprendizado e pensamento lateral. Eles são curiosos,
        pensadores independentes e valorizam o conhecimento acima de tudo.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Salão Comunal e Representação</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        O salão comunal da Corvinal fica em uma torre alta de Hogwarts, adornado
        com cores azul e bronze. Seu símbolo é uma águia e seu mascote é um
        corvo.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Membros Notáveis</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Alvo Dumbledore</li>
        <li>Minerva McGonagall</li>
        <li>Luna Lovegood (embora às vezes colocada na Lufa-Lufa)</li>
        <li>Filius Flitwick</li>
        <li>Gilderoy Lockhart (embora na verdade seja um impostor)</li>
        <li>Cho Chang</li>
        <li>Quirinus Quirrell (embora possuído por Voldemort)</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-button routerLink="/">Voltar</ion-button>
</ion-content>
